{% extends '../base.html' %}

{% block title %} My Profile {% endblock %}
{% block navbar-profile %}class="active"{% endblock %}

{% block banner %} main-banner inner {% endblock %}
{% load static %}
{% block content %}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
    <li class="breadcrumb-item active">My Profile</li>
</ol>

<!-- ticket booking form -->
<div class="container" style="padding-bottom:5%">
    <div style="padding-left:20%; padding-right:20%; padding-bottom:2%">
        <div class="row" style="border: 1px solid black;">
            <div class="col-md-12">
                <p align="right" style="font-size:15px"><i class="fa" style="color:#10adfb;">&#xf040;</i> <a href="{% url 'edit-profile' %}">Edit</a></p>  
            </div>    
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <td align="right" style="width:45%"><label>Name</label></td>
                        <td style="width:2%"></td>
                        <td align="left" style="width:45%"><label>A Kumar</label></td>
                    </tr>
                    <tr>
                        <td align="right" style="width:45%"><label>Username</label></td>
                        <td></td>
                        <td align="left" style="width:45%"><label>23438</label></td>
                    </tr>
                    <tr>
                        <td align="right" style="width:45%"><label>Email</label></td>
                        <td></td>
                        <td align="left" style="width:45%"><label>django_god@gmail.com</label></td>
                    </tr>
                    <tr>
                        <td align="right" style="width:45%"><label>Mobile Number</label></td>
                        <td></td>
                        <td align="left" style="width:45%"><label>8888823438</label></td>
                    </tr>
                    <tr>
                </tbody>
            </table>
            <div class="col-md-12">
                <a>&nbsp;</a>
            </div>  
        </div>
    </div>
    <div align="center">
        <button type="button" class="btn btn-primary btn-sm" data-target="#password_modal" data-toggle="modal">Change Password</button>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="password_modal" tabindex="-1" role="dialog" aria-labelledby="passwordModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg2"role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6>Change Password <span class="extra-title muted"></span></h6>
            </div>
            <div class="modal-body form-horizontal" style="padding:0">
                <table align="center" cellpadding="10">
                    <tr>
                        <td align="right">Old Password</td>
                        <td><input type="password" class="form-control" id="oldpassword" name="oldpassword" placeholder="Enter Old Password" required></td>
                    </tr>
                    <tr>
                        <td align="right">New Password</td>
                        <td><input type="password" class="form-control" id="newpassword1" name="newpassword1" placeholder="Enter New Password" required></td>
                    </tr>
                    <tr>
                        <td align="right">New Password Confirmation</td>
                        <td><input type="password" class="form-control" id="newpassword2" name="newpassword2" placeholder="Confirm New Password" required></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td style="color: red;"><div id="error-password"></div></td>
                    </tr>
                </table>    
            </div>
            <div class="modal-footer">
                <button href="#" class="btn btn-primary btn-sm" data-dismiss="modal" aria-hidden="true" style="background-color:grey; border-color: grey;">Close</button>
                <span>&nbsp;&nbsp;</span>
                <button href="#" class="btn btn-primary btn-sm" id="password_modal_save">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!--//ticket booking form ends here-->
{% endblock %}
