{% extends '../base.html' %}

{% block title %} Train Between Stations {% endblock %}

{% block navbar-train-enquiry %}class="active"{% endblock %}
{% block navbar-train-schedule %}class="inactive"{% endblock %}

{% block banner %} main-banner inner {% endblock %}

{% block content %}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'train-enquiry' %}">Train Enquiry</a></li>
    <li class="breadcrumb-item active">Train Between Stations</li>
</ol>

<!-- train between stations form -->
<div class="section text-center py-5">
    <div class="container-fluid">
        <div style="margin-top:30px;" class="mainbox ">
            <div class="panel panel-info">
                <div class="panel-body">
                    <form id="train-search-form" class="form-horizontal" action="" method="post">
                        {% csrf_token %}
                        <div id="train-search-alert" style="display:none" class="alert alert-danger">
                            <p>Error:</p>
                            <span></span>
                        </div>
                        <div class="form-group">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-1 col-sm-1 col-xs-1"></div>
                                    <label class="col-md-4 col-sm-4 col-xs-4 control-label pr-5"><b>Journey Date:</b></label>
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <input type="date" class="form-control" name="date" placeholder="Enter Journey Date" required="">
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-md-1 col-sm-1 col-xs-1"></div>
                                    <label class="col-md-4 col-sm-4 col-xs-4 control-label pr-5"><b>Source Station:</b></label>
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <input type="text" class="form-control" name="source" placeholder="Enter Source Station Name" required="">
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-md-1 col-sm-1 col-xs-1"></div>
                                    <label class="col-md-4 col-sm-4 col-xs-4 control-label pr-5"><b>Destination Station:</b></label>
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <input type="text" class="form-control" name="destination" placeholder="Enter Destination Station Name" required="">
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-md-1 col-sm-1 col-xs-1"></div>
                                    <label class="col-md-4 col-sm-4 col-xs-4 control-label pr-5"><b>Flexible with Date:</b></label>
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <select class="form-control" name="flexible" required="">
                                            <option value="no">No</option>
                                            <option value="yes">Yes</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mt-4 justify-content-center">
                                    <div class="col-md-4 col-sm-4 col-xs-4 controls">
                                        <button type="submit" id="btn-train-search" class="btn active">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="panel panel-info">
                <div style="padding-top:20px" class="panel-body">
                    <div class="container">
                        <div class="row mt-2">
                            <div class="col-md-12">
                                <table class="table table-bordered">
                                    <thead class="thead-blue">
                                        <tr>
                                            <th rowspan="2">S. No.</th>
                                            <th rowspan="2">Train Number</th>
                                            <th rowspan="2">Train Name</th>
                                            <th rowspan="2">Origin</th>
                                            <th rowspan="2">Departure Time</th>
                                            <th rowspan="2">Destination</th>
                                            <th rowspan="2">Arrival Time</th>
                                            <th rowspan="2">Travel Time</th>
                                            <th colspan="7">Days of Run</th>
                                            <th rowspan="2">Classes</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>TRAIN NO</td>
                                            <td>TRAIN NAME</td>
                                            <td>SOURCE</td>
                                            <td>TIME</td>
                                            <td>DESTINATION</td>
                                            <td>TIME</td>
                                            <td>TIME</td>
                                            <td>N</td>
                                            <td>N</td>
                                            <td>N</td>
                                            <td>N</td>
                                            <td>N</td>
                                            <td>N</td>
                                            <td>N</td>
                                            <td>2A 3A SL</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row mt-4 ml-1" style="text-align: center; font-size: 1.1rem">
                            <b>TRAIN RUNNING ON OTHER DAYS:</b>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-12">
                                <table class="table table-bordered">
                                    <thead class="thead-blue">
                                        <tr>
                                            <th rowspan="2">S. No.</th>
                                            <th rowspan="2">Train Number</th>
                                            <th rowspan="2">Train Name</th>
                                            <th rowspan="2">Origin</th>
                                            <th rowspan="2">Departure Time</th>
                                            <th rowspan="2">Destination</th>
                                            <th rowspan="2">Arrival Time</th>
                                            <th rowspan="2">Travel Time</th>
                                            <th colspan="7">Days of Run</th>
                                            <th rowspan="2">Classes</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>TRAIN NO</td>
                                            <td>TRAIN NAME</td>
                                            <td>SOURCE</td>
                                            <td>TIME</td>
                                            <td>DESTINATION</td>
                                            <td>TIME</td>
                                            <td>TIME</td>
                                            <td>N</td>
                                            <td>N</td>
                                            <td>N</td>
                                            <td>N</td>
                                            <td>N</td>
                                            <td>N</td>
                                            <td>N</td>
                                            <td>2A 3A SL</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--//train between stations form ends here-->
{% endblock %}