{% extends '../base.html' %}

{% block title %} Ticket Booking {% endblock %}
{% block navbar-book-ticket %}class="active"{% endblock %}

{% block banner %} main-banner inner {% endblock %}

{% block content %}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'book-ticket' %}">Book Ticket</a></li>
    <li class="breadcrumb-item"><a href="{% url 'book-now' %}">Book Now</a></li>
    <li class="breadcrumb-item active">Transaction Success</li>
</ol>

<div class="section text-center py-5">
    <div style="font-size:25px; padding:1%; color: #10adfb">
        <span>Transaction Succes! Happy Journey</span>
    </div>
    <div class="container" style="padding-left: 10%; padding-right: 10%; padding-bottom: 1%; padding-top:1%">
        <div align="left">
            <label>TRANSACTION ID : <b>100000000000000</b></label>
        </div>
        <div class="row" style="border: thin solid black; padding:2%">
            <div class="col-md-4" align="left">
                <span>TRAIN NAME (NUMBER)</span><br>
                <p style="margin:0px">DATE</p>
                <p>TIME</p>
                <p  style="margin:0px;"> GORAKHPUR JN</p>
                <p  style="margin:0px"> (GKP)</p>
            </div>
            <div class="col-md-4" align="center">
                <br><br>
                <table>
                    <tr>
                        <td style='width:200px;'><hr color="darkgrey"></td>
                        <td> 01h:25m</td>
                        <td style='width:200px'><hr color="darkgrey"></td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4"align="right">
                <span>PNR: <b>1000000000</b></span>
                <p style="margin:0px">DATE</p>
                <p>TIME</p>
                <p  style="margin:0px"> GORAKHPUR JN</p>
                <p  style="margin:0px"> (GKP)</p>
            </div>
            <div class="col-md-12">
                <label>Total Fare: <b>$200</b></label>&nbsp;|&nbsp;
                <label>Date of Booking: <b>20/11/19</b></label>&nbsp;|&nbsp;
                <label>Class: <b>SL</b></label>&nbsp;|&nbsp;
                <label>Quota: <b>GEN</b></label>
            </div>
        </div>
        <div align="left" style="padding-top:2%">
            <label>PASSENGER(S) DETAILS</label>
        </div>
        <div class="row" style="border: thin solid black; padding:2%">
            <div class="col-md-1" align="left">
                <label>1.</label>
            </div>
            <div class="col-md-3">
                <label>Sachin Srivastava</label>
            </div>
            <div class="col-md-2">
                <label>19 Y</label>
            </div>
            <div class="col-md-2">
                <label>Male</label>
            </div>
            <div class="col-md-4">
                <label>CNF/B1/14/UB</label>
            </div>
        </div>
        <div class="row" style="border: thin solid black; padding:2%; border-top:0px">
            <div class="col-md-1" align="left">
                <label>1.</label>
            </div>
            <div class="col-md-3">
                <label>Sachin Srivastava</label>
            </div>
            <div class="col-md-2">
                <label>19 Y</label>
            </div>
            <div class="col-md-2">
                <label>Male</label>
            </div>
            <div class="col-md-4">
                <label>CNF/B1/14/UB</label>
            </div>
        </div>
    </div>
</div>

{% endblock %}