{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>{% block title %} {% endblock %}</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <script>
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //Meta tag Keywords -->

    <!-- Custom-Files -->
    <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <!-- Style-CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" />
    <!-- jquery-ui -->
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
    <!-- font-awesome-icons -->
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900" rel="stylesheet">

</head>

<body>

    <!-- main-content -->
    <div class="{% block banner %} {% endblock %}" id="home">
        <!-- header -->
        <header class="header">
            <div class="container-fluid px-lg-5">
                <!-- nav -->
                <nav class="py-4">
                    <div id="logo">
                        <h1> <a href="{% url 'index' %}">SwiftRail</a></h1>
                    </div>

                    <label for="drop" class="toggle">Menu</label>
                    <input type="checkbox" id="drop" />
                    <ul class="menu mt-2">
                        {% block navbar %}
                        <li {% block navbar-home %}{% endblock %}><a href="{% url 'index' %}">Home</a></li>
                        <li {% block navbar-pnr-status %}{% endblock %}><a href="{% url 'pnr-status' %}">PNR Status</a></li>
                        <li {% block navbar-book-ticket %}{% endblock %}><a href="{% url 'book-ticket' %}">Book Ticket</a></li>
                        <li {% block navbar-train-enquiry %}{% endblock %}>
                            <!-- First Tier Drop Down -->
                            <label for="drop-1" class="toggle">Train Enquiry <span class="fa fa-angle-down" aria-hidden="true"></span> </label>
                            <a href="{% url 'train-enquiry' %}">Train Enquiry <span class="fa fa-angle-down" aria-hidden="true"></span></a>
                            <input type="checkbox" id="drop-1" />
                            <ul>
                                <li {% block navbar-train-search %}{% endblock %}><a href="{% url 'train-search' %}">Train between Stations</a></li>
                                <li {% block navbar-train-schedule %}{% endblock %}><a href="{% url 'train-schedule' %}">Train Schedule</a></li>
                            </ul>
                        </li>
                        {% if user.is_authenticated %}
                        <li {% block navbar-transactions %}{% endblock %}>
                            <label for="drop-2" class="toggle">My Transactions <span class="fa fa-angle-down" aria-hidden="true"></span> </label>
                            <a href="{% url 'transactions' %}">My Transactions <span class="fa fa-angle-down" aria-hidden="true"></span></a>
                            <input type="checkbox" id="drop-2" />
                            <ul>
                                <li {% block navbar-last-transaction %}{% endblock %}><a href="{% url 'last-transaction' %}">Last Transaction Detail</a></li>
                                <li {% block navbar-booked-history %}{% endblock %}><a href="{% url 'booked-history' %}">Booked Ticket History</a></li>
                                <li {% block navbar-cancellation-history %}{% endblock %}><a href="{% url 'cancelled-history' %}">Ticket Cancellation History</a></li>
                            </ul>
                        </li>
                        <li {% block navbar-profile %}{% endblock %}>
                            <label for="drop-3" class="toggle">My Profile <span class="fa fa-angle-down" aria-hidden="true"></span> </label>
                            <a href="{% url 'profile' %}">My Profile <span class="fa fa-angle-down" aria-hidden="true"></span></a>
                            <input type="checkbox" id="drop-3" />
                            <ul>
                                <li {% block navbar-view-profile %}{% endblock %}><a href="{% url 'profile' %}">View Profile</a></li>
                                <li {% block navbar-logout %}{% endblock %}><a href="{% url 'logout' %}">Logout</a></li>
                            </ul>
                        </li>
                        {% else %}
                        <li {% block navbar-login %}{% endblock %}><a href="{% url 'login' %}">Login</a></li>
                        <li {% block navbar-register %}{% endblock %}><a href="{% url 'register' %}">Register</a></li>
                        {% endif %}
                        {% endblock %}
                    </ul>
                </nav>
                <!-- //nav -->
            </div>
        </header>
        <!-- //header -->
        {% block banner-info %} {% endblock %}

    </div>
    <!--//main-content-->

    {% block content %} {% endblock %}
    
    <!-- footer -->
    <footer>
        <div class="container">
            <div class="row footer-top">
                <div class="col-lg-4 footer-grid_section_w3layouts">
                    <h2 class="logo-2 mb-lg-4 mb-3">
                        <a href="{% url 'index' %}">SwiftRail</a>
                    </h2>
                    <p>Make your journey hassle-free with SwiftRail. Book your tickets and get all railway informations at a single place.</p>
                    <h4 class="sub-con-fo ad-info my-4">Catch on Social</h4>
                    <ul class="w3layouts_social_list list-unstyled">
                        <li>
                            <a href="#" class="w3pvt_facebook">
                                <span class="fa fa-facebook-f"></span>
                            </a>
                        </li>
                        <li class="mx-2">
                            <a href="#" class="w3pvt_twitter">
                                <span class="fa fa-twitter"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="w3pvt_dribble">
                                <span class="fa fa-dribbble"></span>
                            </a>
                        </li>
                        <li class="ml-2">
                            <a href="#" class="w3pvt_google">
                                <span class="fa fa-google-plus"></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-8 footer-right">
                    <div class="row mx-0 justify-content-center">
                        <div class="col-md-4 ml-lg-4 footer-grid_section_w3layouts">
                            <h3 class="footer-title text-uppercase text-wh mb-lg-4 mb-3">Navigation</h3>
                            <ul class="list-unstyled w3layouts-icons">
                                <li>
                                    <a href="{% url 'index' %}">Home</a>
                                </li>
                                <li class="mt-2">
                                    <a href="{% url 'pnr-status' %}">PNR Status</a>
                                </li>
                                <li class="mt-2">
                                    <a href="{% url 'book-ticket' %}">Book Tickets</a>
                                </li>
                                <li class="mt-2">
                                    <a href="{% url 'train-search' %}">Train Between Stations</a>
                                </li>
                                <li class="mt-2">
                                    <a href="{% url 'train-schedule' %}">Train Schedule</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4 ml-lg-4 footer-grid_section_w3layouts my-md-0 my-5">
                            <h3 class="footer-title text-uppercase text-wh mb-lg-4 mb-3">Contact Us</h3>
                            <div class="contact-info">
                                <div class="footer-address-inf">
                                    <h4 class="ad-info">Phone</h4>
                                    <p>+91 90000-00000</p>
                                </div>
                                <div class="footer-address-inf">
                                    <h4 class="ad-info">Email </h4>
                                    <p><a href="mailto:info@swiftrail.com">info@swiftrail.com</a></p>
                                </div>
                                <div class="footer-address-inf">
                                    <h4 class="ad-info">Location</h4>
                                    <p>Varanasi, Uttar Pradesh</p>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="cpy-right row">
                        <p class="col-md-10" style="text-align: center;">© 2019 SwiftRail. All rights reserved
                        </p>
                        <!-- move top icon -->
                        <a href="#" class="move-top text-right col-md-2"><span class="fa fa-long-arrow-up" aria-hidden="true"></span></a>
                        <!-- //move top icon -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- //footer -->

    <!-- jquery and jquery-ui -->
    <script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/main.js' %}" type="text/javascript"></script>
    <script>{% block script %} {% endblock %}</script>
</body>

</html>
